# Ignore tmp files
tmp/
Standard Missions\src\ZGM-21_Bison_Blufor.Altis\sounds

# Ignore PBOs and BINs
*.pbo
*.bin

tools/node_modules
tools/package-lock.json
.vscode
release.zip
missionWhitelist.dat
